uvicorn==0.27.1
transformers>=4.0.0
gensim==4.3.2
lightgbm==4.3.0
scikit-learn>=0.24.0
numpy==1.24.3
pandas==2.0.3
requests==2.31.0
tensorflow
streamlit==1.24.0
snscrape>=0.6.0
fasttext-wheel
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
